// About section styling

#about{
  height:90vh;
  padding: 2.75rem 0;
  background-color:rgba(255,255,255, .5);
  li{
    margin: .5rem 0;
    line-height:1.3rem;
    font-family: Roboto, Open Sans, sans-serif;
  }
  .about-intro{
    text-align:justify;
  }
  .about-container{
    margin: 0;
  }
  p{
    margin: .75rem 0;
  }
  h3{
    padding: 2rem 0 .5rem 0;
    
  }
  @media screen and (min-width: $break-small) {
    height:auto;
    .about-intro{
      padding:.75rem 0 0 0 ;
    }
    .about-container{
      width: 50%;
    }
  }
  @media screen and (min-width: $break-medium) {
    padding: 1rem 0;
    width: 40%;
    margin: 11rem 1rem ;
    padding:0;
    
    ul{
      margin: .5rem 2rem 2rem 2rem;
      
    }
    h3{
      padding:1rem 0 .5rem 0
    }
    .about-intro{

      width:45vw;
      
    }
    .about-intro.research{
      width:100%
    }
    
    .about-container{
      width: 100%;
      margin:0 1rem;
      display:flex;

    }
  }
}



.profile-photo{
  width:90vw;
  @media screen and (min-width: $break-small) {
    width:40vw;
    right:1rem;
    position:fixed;
    top: 5rem;
  }
  @media screen and (min-width: $break-large) {
    width:50vw;
    top:auto;
    bottom:1rem;
    right:1rem;
  }
}



// #cv-link{
//   opacity:0;

//   transition: all .25s ease;
//   transition-delay:0s;
// }

// #email-link{
//   opacity:0;

//   transition: all .5s ease; 
//   transition-delay: .25s;
// }

