

////////////////////////////*Work Styling*//////////////////////////////
#work{
    padding: 1rem 0;
    #shuffleGrid{
      margin-bottom: 2rem;
    }
    a{
      color:$font-color;
      &:visted{
        color:$font-color;
      }
    }
  
  
    h3{
      font-size:1.5rem;
      // font-weight:normal;
      // font-family: Roboto, Open Sans, sans-serif;
      padding: .25rem 0;
      transform: translateZ(0);
      -webkit-transform: translateZ(0);
      margin: 0 1rem;
      display:flex;
      align-items:center;
      // justify-content:center;
      color:font-color;

      // text-transform:none;
    }
    .project-title{
      position: absolute;
      transition: color 1s ease;
      transition: background-color .5s ease;
      bottom: 0;
      height: 100%;
      padding:.5rem;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      z-index:20;
      color:white;
      // background-color: $font-accent;
  
      background-color:rgba(0,0,0, .6);
      // background-color: $font-color;
      // background-color:white;
      width:100%;
      // transition: height .5s ease;
      text-align:center;
      border-top:none;
      @media screen and (min-width: $break-medium) {
       background-color:rgba(0,0,0, .6);
       transition: background-color .5s ease;
     }
   }
  
  
   .aspect--size {
  
    padding-bottom:  calc(80% + 8px)
  }
  
  .aspect__inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background-color .5s ease;
    transition: width .5s ease;
    transition: height .5s ease;
    img{
      transition: transform .5s ease;
      display: block;
      // width: 100%;
      max-width: none;
      object-fit: cover;
      height:100%;
      -webkit-animation: filter 3s infinite;
      filter: grayscale(60%);
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        height:100%;
        width:auto;
      }
      @media screen and (min-width: $break-medium) {
        filter: grayscale(60%);
        transition: filter .5s ease;
        transition: background-color .5s ease;
      }
    }
  
  
    &:hover,  a:focus {
      cursor:pointer;
      background-color: $font-accent;
  
      img{
  
        transition: transform .5s ease;
        // -moz-transform: scale(1.05);
        // -webkit-transform: scale(1.05);
        // transform: scale(1.05);
        // border: 1px $font-color solid;
        filter: grayscale(20%);
        transition: filter .5s ease;
  
      }
      .project-title{
        transition: background-color .5s ease;
        background:rgba(255, 52, 89, .9);
        height: 100%;
        @media screen and (min-width: $break-medium) {
          transition: background-color .5s ease;
          background:rgba(255, 52, 89, .9);
  
        }
      }
  
    }
  }
  /* default styles so shuffle doesn't have to set them (it will if they're missing) */
  .my-shuffle {
    position: relative;
    overflow: hidden;
  }
  
  /* Ensure images take up the same space when they load */
  .aspect {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
  }
  
  
  .aspect__inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .col-span {
    width: 50%;
  }
  
  .my-sizer-element {
    width: 8.33333%;
  }
  
  /* Bootstrap-style columns */
  .column {
    position: relative;
    float: left;
    min-height: 1px;
  padding:0;
  margin:0;

  }
  @media screen and (min-width: $break-medium) {
    padding:0;
    // h2{
    //   // width:80%;
    //   // margin: 2rem auto;
    // }
    #shuffleGrid{
      width:90%;
      margin:1rem auto;
      // margin-bottom:none;
      border:solid 2px black;
    }
  }
  }
  
  
  

  .single-project{

    // margin:1rem;
    max-width:80%;
    margin:0 auto 3rem auto;
  h3{
    font-size:1.5rem;
  }
  }

  #work{
    // width: 40%;
    margin: 25vh 1rem;
    padding: 0;
  }



  .project-page{
    display:flex; 
    flex-wrap:wrap;
    
  }
  .page-wrapper::after{
    content: "";
    background-image: url("../src/assets/img/bkg.png");
    background-repeat: no-repeat;
    // background-size:contain;
    opacity: 0.2;
    // opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: 200% 200%;
    // background-position: right bottom; /*Positioning*/
    position: fixed;
    z-index: -1; 
    // width:100%;
    // height:100%
  }
  .project-list{
    width:80%;
    margin:0;
    
  }
  #foo, #foo2, #foo3, #foo4, #foo5, #foo6 {
    display:none;
  }
  .project-list-item{
    // border:solid 2px black;
    border-radius:5px;
    width:100%;
    // padding:1rem 2rem;
    margin: 1rem;
    
  }
  .project-header{
    /* font-family:'EB Garamond', serif; */
    /* list-style-type: circle; */
    font-size:1.25rem;
    margin:0 0 2rem 0;
    
  }
  /* li{
    list-style-type: circle;
  } */
  .project-descripton{
    width:50vw;
    font-family:'EB Garamond', serif
  }


  @media screen and (min-width: $break-medium) {

    .project-list{
      width:80%;
      margin:0 5rem;
      
    }
 
   #work{ h3{
      margin: 0 auto;
    }
  }
  }