<!DOCTYPE html>
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="theme-color" content="#0521AB")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Vincent R. Hopkins
    link(href='dist/css/main.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=EB+Garamond|Oswald', rel='stylesheet', type='text/css')
  body(class="index")
    header(class= "site-header flex-wrap")

        // Left hand Side of Nav Bar
        div(class="logo")
            a(href="big-index.html")
                h1(class="logo-heading") Vincent R. Hopkins
                h2(class="logo-subheading  big-subheading") Behavioural & Data Scientist

        // Right hand Side of Nav Bar
        nav(class="menu")
            ul(class="nav-grid #{nav}")
                li
                    a(href="big-about.html" id="nav-about") About
                li
                    a(href="https://drive.google.com/open?id=1XuJzBwJkPt_Sc2PhbmJ2UhW3k_UmS4L8" target="_blank" id="nav-projects") CV
