include templates/big-header.pug

div(class="page-wrapper")
    img(src="dist/assets/img/vince.jpg" class="profile-photo" alt="photo of Vincent Hopkins")
    section(id="about")
        h2 About
        div(class="about-container")
            div(class="about-intro")
                p I am a PhD candidate in the Department of Political Science at Simon Fraser University and a Joseph-Armand Bombardier Doctoral Fellow.
                p I specialize in using data science and experiments to solve policy problems and understand human behaviour. My dissertation employs data science techniques to generate new knowledge about how interest groups exploit cognitive biases—especially information avoidance—to influence the political process.
                p
                    a(href="mailto:vrhopkins@gmail.com" class="inline-link"  id="email-link") vrhopkins@gmail.com

script(src="dist/js/about-script.js")

