include templates/big-header.pug

div(class="page-wrapper")
    section(id="work")
        h2 Portfolio
        div(class="project-page")
           div(class="project-list")
            h3(class="big-section-title" onclick="toggle_visibility('data-science');rotate_icon('icon1');") Data Science <ion-icon name="add" id="icon1"> </ion-icon>

            div(class="big-portfolio-container" id="data-science")
                p(class="big-portfolio-paragraph") Veniam culpa excepteur enim exercitation Veniam culpa excepteur enim exercitation irure occaecat sint. Veniam culpa excepteur enim exercitation irure occaecat sint.Veniam culpa excepteur enim exercitation irure occaecat sint. Veniam culpa excepteur enim exercitation irure occaecat sint.irure occaecat sint. Veniam culpa excepteur enim exercitation irure occaecat sint.
                h4(class="big-portfolio-figure-header") Environmental discussions on Twitter are highly polarized
                div(id="figure1" class="big-portfolio-figure-div")
                    img(src="dist/assets/img/Viz1_notext.svg" class="big-portfolio-img"  id="figure1-img"  width="100%" height="100%")
                    h4(class="left figure1-text") Democrats talk about<br><span class="underline">pollution</span> & <span class="underline">climate change</span>
                    div(class="left curve")
                    h4(class="right figure1-text") Republicans talk about<br><span class="underline">taxes</span> & <span class="underline">jobs</span>
                    div(class="right curve")
                p(class="big-portfolio-paragraph") Veniam culpa excepteur enim exercitation irure occaecat sint. Veniam culpa excepteur enim exercitation irure occaecat sint.
                h4(class="big-portfolio-figure-header") Seatbelt Laws Reduce Fatalities (UK, 1980 - 1984)
                div(class="big-portfolio-figure-div")
                    img(src="dist/assets/img/Viz2_notext.svg" class="big-portfolio-img"   width="100%" height="100%")
                    h4(class="before figure2-text") Before Policy Change
                    h4(class="after figure2-text") After Policy Change
                    h4(class="logged figure2-text") Deaths Logged
                    h4(class="predicted figure2-text") Deaths Without Seatbelt Laws (predicted)
                p(class="big-portfolio-paragraph") Veniam culpa excepteur enim exercitation irure occaecat sint. Veniam culpa excepteur enim exercitation irure occaecat sint.
                h4(class="big-portfolio-figure-header") Seatbelt Laws Reduce Fatalities (UK, 1980 - 1984)
                div(class="big-portfolio-figure-div")
                    img(src="dist/assets/img/Viz2_notext.svg" class="big-portfolio-img"   width="100%" height="100%")
                    h4(class="before figure2-text") Before Policy Change
                    h4(class="after figure2-text") After Policy Change
                    h4(class="logged figure2-text") Deaths Logged
                    h4(class="predicted figure2-text") Deaths Without Seatbelt Laws (predicted)
                p(class="big-portfolio-paragraph") Veniam culpa excepteur enim exercitation irure occaecat sint. Veniam culpa excepteur enim exercitation irure occaecat sint.

            div(class="big-portfolio-container")
                img(src="https://placekitten.com/g/300/300" class="big-portfolio-img")
                p(class="big-portfolio-paragraph") Veniam culpa excepteur enim exercitation irure occaecat sint. Magna id occaecat proident fugiat deserunt enim veniam deserunt quis enim velit dolore qui. Cupidatat mollit consectetur fugiat culpa eu consequat labore consequat Lorem mollit Lorem anim nulla fugiat. Proident incididunt eiusmod dolor sint veniam esse elit consectetur exercitation proident. Labore exercitation qui anim laboris minim deserunt dolor eu sit aliquip.

            div(class="big-portfolio-container")
                p(class="big-portfolio-paragraph") Veniam culpa excepteur enim exercitation irure occaecat sint. Magna id occaecat proident fugiat deserunt enim veniam deserunt quis enim velit dolore qui. Cupidatat mollit consectetur fugiat culpa eu consequat labore consequat Lorem mollit Lorem anim nulla fugiat. Proident incididunt eiusmod dolor sint veniam esse elit consectetur exercitation proident. Labore exercitation qui anim laboris minim deserunt dolor eu sit aliquip.
                img(src="https://placekitten.com/g/300/300" class="big-portfolio-img")


            h3(class="big-section-title" onclick="toggle_visibility('big-policy');rotate_icon('icon2');")  Policy <ion-icon name="add" id="icon2"> </ion-icon>
            div(class="big-portfolio-container" id="big-policy")
                p(class="big-portfolio-paragraph") Veniam culpa excepteur enim exercitation irure occaecat sint. Magna id occaecat proident fugiat deserunt enim veniam deserunt quis enim velit dolore qui. Cupidatat mollit consectetur fugiat culpa eu consequat labore consequat Lorem mollit Lorem anim nulla fugiat. Proident incididunt eiusmod dolor sint veniam esse elit consectetur exercitation proident. Labore exercitation qui anim laboris minim deserunt dolor eu sit aliquip.
                img(src="https://placekitten.com/g/300/300" class="big-portfolio-img")

            h3(class="big-section-title" onclick="toggle_visibility('big-communication');rotate_icon('icon3'); ")  Communication  <ion-icon name="add" id="icon3"> </ion-icon>
            div(class="big-portfolio-container" id="big-communication")
                p(class="big-portfolio-paragraph") Veniam culpa excepteur enim exercitation irure occaecat sint. Magna id occaecat proident fugiat deserunt enim veniam deserunt quis enim velit dolore qui. Cupidatat mollit consectetur fugiat culpa eu consequat labore consequat Lorem mollit Lorem anim nulla fugiat. Proident incididunt eiusmod dolor sint veniam esse elit consectetur exercitation proident. Labore exercitation qui anim laboris minim deserunt dolor eu sit aliquip.
                img(src="https://placekitten.com/g/300/300" class="big-portfolio-img")

script(src="https://unpkg.com/ionicons@4.4.6/dist/ionicons.js")
script(src="dist/js/big-projects-script.js")




   //- ul(class="project-header")
            //-     li(class="project-list-item" id="project-list-item1")
            //-         span(class="project-title-span" onclick="toggle_visibility('project1');rotate_icon('icon1'); grow('project-list-item1');") Network Analysis
            //-             <ion-icon name="add" id="icon1"> </ion-icon>
            //-         p(class="project-description" id="project1") Are voters right to be skeptical about who government represents? Using new data from Canada, we show that public interest groups strengthen the relationship between public opinion and government spending, while private interest groups have no observable effect. <br>\\ with Heike Klüver (Humboldt University-Berlin) and Mark Pickup (SFU). <br> \\ Published in
            //-             a(href="http://journals.sagepub.com/doi/abs/10.1177/1065912918796326" target="_blank") Time series.
            //-     li(class="project-list-item" id="project-list-item2")
            //-         span(class="project-title-span" onclick="toggle_visibility('project2');rotate_icon('icon2'); grow('project-list-item2');") Time Series
            //-             <ion-icon name="add" id="icon2"></ion-icon>
            //-         p(class="project-description" id="project2") Can government agencies encourage policy innovation? Using data from Canada's Public Service Employee Survey, I show agencies that offer many incentives are more likely to encourage innovation among employees than agencies with few incentives. <br> \\ Published in
            //-             a(href="https://onlinelibrary.wiley.com/doi/abs/10.1111/psj.12132" target="_blank") Fancy Things
            //-     li(class="project-list-item" id="project-list-item2")
            //-         span(class="project-title-span" onclick="toggle_visibility('project2');rotate_icon('icon2'); grow('project-list-item2');") Institutions and Policy Entrepreneurship
            //-             <ion-icon name="add" id="icon2"></ion-icon>
            //-         p(class="project-description" id="project2") Can government agencies encourage policy innovation? Using data from Canada's Public Service Employee Survey, I show agencies that offer many incentives are more likely to encourage innovation among employees than agencies with few incentives. <br> \\ Published in
            //-             a(href="https://onlinelibrary.wiley.com/doi/abs/10.1111/psj.12132" target="_blank") Policy Studies Journal.